@font-face {
    font-family: 'CircularSP';
    src: url('https://encore.scdn.co/fonts/CircularSpTitle-Black-4588c99025b967475c31695b0743dd1a.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'CircularSP', 'Circular', 'Spotify Circular', Helvetica, Arial, sans-serif;
    background-color: #191414;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 800px;
    background-color: #282828;
    border-radius: 10px;
    padding: 20px;
    padding-right: 40px;
    position: relative;
}

.auth-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px; /* Add gap between elements */
}

.login-button,
.logout-button,
.create-playlist-custom-button,
.create-playlist-similar-button,
.create-playlist-button,
.save-button,
.fetch-button,
.copy-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.fetch-button {
    background-color: #1DB954;
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative; /* Position relative for containing the play symbol */
}

.play-symbol {
    width: 0;
    height: 0;
    border-left: 20px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute; /* Position absolute to move it within the button */
    right: 7px; /* Adjust as needed to move it to the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
}

.search-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 50px;
    background-color: #333;
    color: #fff;
}

.description-input {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.section {
    margin-top: 20px;
}

.header-with-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-box {
    position: relative;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    height: 200px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    resize: none;
    height: 100%; 
}

textarea::-webkit-scrollbar {
    width: 20px;
}

textarea::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px; /* Make the track rounded */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* Make the thumb rounded */
    border: 3px solid #333; /* Add padding around the thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    margin: 0 5px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.tab.active,
.tab:hover {
    background-color: #1DB954;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content.active {
    display: block;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-item {
    flex: 1;
    min-width: 45%;
}

.notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000;
    transition: top 0.5s ease-in-out;
}

.notification.show {
    display: block;
    top: 0;
}

.notification.hide {
    top: -100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #282828;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h1 {
    margin: 0;
    font-size: 24px;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create-playlist-button {
    margin-top: 50px; 
}

.copy-button {
    margin-left: 10px;
}
